{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Bonjour, {{ app.user.username | upper }}</h1>

        <h2>Modification de votre profil</h2>
        <form method="post">
            <div class="form-field">
                <label for="mdp">Mot de passe</label>
                <input type="password" id="mdp" name="mdp" class="form-control">
            </div>
            <div class="form-field">
                <label for="mdp2">Confirmer le mot de passe</label>
                <input type="password" id="mdp2" name="mdp2" class="form-control">
            </div>
            <button>Valider</button>
        </form>
{% endblock %}
